<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="include/header :: header"></div>

    <title>Product List</title>

    <!-- Stomp -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/productAddToBucket.js"></script>
</head>
<body>
<!----------- navBar ---------- -->
<nav th:insert="include/navBar :: navbar"></nav>

<main class="container mt-3">
    <!----------- content ---------- -->
    <div th:if="${msg}">
        <h4 th:text="${msg}"  class="text-center text-danger">msg</h4>
    </div>


    <!--Product Cards -->
    <div th:if="${list}">
        <div  class="d-flex flex-wrap col-12">
        <div  th:each="product : ${list}" class="col-3">
            <form  th:for="${#ids.next('form')}">
            <div class="card m-3 ">



                <h3 th:text="${product.title}" class="card-header">Title</h3>
                <div class="card-body">
                    <h5 class="card-title">Brand</h5>
                    <h6 class="card-subtitle text-muted">Категория</h6>
                </div>
                <img th:src="@{/img/chees.jpg}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                </img>
                <div class="card-body">
                    <p class="card-text">DESCRIPTION Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li th:text="${product.price}" class="list-group-item">Price</li>
                </ul>
                <input id="id" value="${product.id}">
                <div class="card-body" th:Object = "${product.id}">
                    <a href="#" class="card-link">Favorite</a>
                    <a th:href="@{/product/item/{id}(id = ${product.id})}" class="card-link">Select</a>
                    <a th:href="@{/product/{id}/bucket(id=${product.id})}" class="card-link">Add cart</a>
                    <button th:id="${product.id}" class="add" type="button" onclick="add(1)" >Submit2</button>
                    <button th:id="add_bucket" type="submit">Submit2</button>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            </form>
        </div>
        </div>

        <!-- __________________________________pagination_______________________________________ -->
        <div th:if="${products.hasContent()}">
            <nav aria-label="product list">
                <ul class="pagination justify-content-center">
                    <li   th:classappend="${products.isFirst()} ? 'disabled'"
                          class="page-item">
                        <a class="page-link"
                           th:href="@{/product/list(
                       page=${products.number},
                        size=${products.size},
                        titleFilter=${param.titleFilter},
                        min=${param.min},
                        max=${param.max}
                       )}">Previous</a></li>


                    <th:block th:if="${products.totalPages >= 10}">

                        <th:block th:if="${products.number <= 5 }">
                            <li
                                    th:each="num : ${#numbers.sequence(1, 9)}"
                                    class="page-item"
                                    th:classappend="${num == products.number + 1} ? 'active'">
                                <a class="page-link" th:href="@{/product/list(
                    page=${num},
                    size=${products.size},
                    titleFilter=${param.titleFilter},
                     min=${param.min},
                     max=${param.max}
                    )}">[[${num}]]</a>

                            </li>
                            <a class="page-link">...</a>
                        </th:block>
                        <th:block th:if="${products.number >= 5 && products.number > products.totalPages - 4 }">
                            <a class="page-link">...</a>
                            <li
                                    th:each="num : ${#numbers.sequence(1, 5)}"
                                    class="page-item"
                                    th:classappend="${num == products.number + 1} ? 'active'">
                                <a class="page-link" th:href="@{/product/list(
                    page=${num},
                    size=${products.size},
                    titleFilter=${param.titleFilter},
                     min=${param.min},
                     max=${param.max}
                    )}">[[${num}]]</a>
                            </li>
                            <a class="page-link">...</a>
                        </th:block>

                        <th:block th:if="${products.number >= 5 && products.number < products.totalPages - 4 }">
                            <a class="page-link">...</a>
                            <li
                                    th:each="num : ${#numbers.sequence(1, 5)}"
                                    class="page-item"
                                    th:classappend="${num == products.number + 1} ? 'active'">
                                <a class="page-link" th:href="@{/product/list(
                    page=${num},
                    size=${products.size},
                    titleFilter=${param.titleFilter},
                     min=${param.min},
                     max=${param.max}
                    )}">[[${num}]]</a>
                            </li>
                        </th:block>
                    </th:block>


                    <th:block th:if="${products.totalPages < 10}">
                        <li
                                th:each="num : ${#numbers.sequence(1, products.totalPages)}"
                                class="page-item"
                                th:classappend="${num == products.number + 1} ? 'active'">
                            <a class="page-link" th:href="@{/product/list(
                    page=${num},
                    size=${products.size},
                    titleFilter=${param.titleFilter},
                     min=${param.min},
                     max=${param.max}
                    )}">[[${num}]]</a>
                        </li>
                    </th:block>

                    <li class="page-item"
                        th:classappend="${products.isLast()} ? 'disabled'">
                        <a
                                class="page-link"
                                th:href="@{/product/list(
                       page=${products.number + 2},
                    size=${products.size},
                    titleFilter=${param.titleFilter},
                     min=${param.min},
                     max=${param.max}
                       )}">Next</a></li>

                </ul>
            </nav>
        </div>
    </div>
   </main>


</body>
</html>