<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="include/header :: header"></div>
    <title>Title</title>
    <!-- Stomp -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>


    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="products.js"></script>
</head>
<body>
<nav th:insert="include/navBar :: navbar"></nav>
<main class="container">

    <table id="table" class="table table-dark table-hover mt-5 col-10">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <td></td>
        </tr>
        </thead>
        <tbody >
        <tr th:each="product : ${products}" >
            <td th:text="${product.title}">title</td>
            <td th:text="${product.price}" >price$</td>
            <td><a th:href="@{/product/{id}/bucket(id=${product.id})}">Add to bucket</a></td>
        </tr>
    </table>

    <form style="text-align: center">
        <table align="center">
            <tr>
                <td>Title</td>
                <td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" id="price"></td>
            </tr>
        </table>
        <button id="send" type="submit">Submit</button>
    </form>
</main>


</body>
</html>