body {
    margin-top: 50px;
    align-content: center;
}
#input_array {
    margin: auto;
    text-align: center;
    align-content: center;
}

#input_table {
    margin: auto;
    text-align: center;
}
#array {
    width: 1200px;
}
#send {
    margin-bottom: 10px;
    margin-top: 10px;
}
#table {
    text-align: center;
    align-content: center;
    margin: auto;
}

#title {
    font-size: 25px;
    font-weight: bold;
}
#result {
    align-content: center;
}